<header class="h-100">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar top-nav-collapse white">
    <div class="container">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#basicExampleNav"
        aria-controls="basicExampleNav"
        aria-expanded="false"
        aria-label="Toggle Navigation"
      >
        <span class="navbar-toggler-icon">
        </span>
      </button>
      <div class="collapse navbar-collapse" id="basicExampleNav">
        <ul class="navbar-nav mr-auto smooth-scroll">
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light dark-grey-text" routerLink="start-page">События</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light dark-grey-text" routerLink="places">Места</a>
          </li>
        </ul>
      </div>
      <button mdbBtn type="button" rounded="true" class="btn-link waves-effect waves-dark" mdbWavesEffect (click)="reg()">Зарегистрироваться</button>
      <button mdbBtn type="button" rounded="true" class="btn-link waves-effect waves-light" mdbWavesEffect (click)="auth()">Авторизоваться</button>
    </div>
  </nav>
</header>
