<!-- Footer -->
<footer class="footer font-small mdb-color pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">О сервисе</h6>
      </div>
      <!-- Grid column -->


      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Обратная связь</h6>
      </div>
      <!-- Grid column -->


      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">© 2018 Copyright: Friendship Is Magic.
          Privacy Policy</h6>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Footer links -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->
