<div class="places-header m-0">
  <div class="places-input px-5">
    <input type="text" class="form-control">
  </div>
</div>

<div class="places-block-selects">
  <div class="row text-center shadow-sm bg-white rounded py-2">
    <div class="col-3">
      <div class="btn-group" mdbDropdown>
        <button mdbDropdownToggle type="button" mdbBtn class="dropdown-toggle btn-outline-primary waves-effect" mdbWavesEffect>
          Город
        </button>
        <div class="dropdown-menu dropdown-secondary">
          <a class="dropdown-item" href="#">Самара</a>
          <a class="dropdown-item" href="#">Тольятти</a>
          <a class="dropdown-item" href="#">Новокуйбышевск</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="btn-group" mdbDropdown>
        <button mdbDropdownToggle type="button" mdbBtn class="dropdown-toggle btn-outline-primary waves-effect" mdbWavesEffect>
          Тип
        </button>
        <div class="dropdown-menu dropdown-secondary">
          <a class="dropdown-item" href="#">Самара</a>
          <a class="dropdown-item" href="#">Тольятти</a>
          <a class="dropdown-item" href="#">Новокуйбышевск</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="btn-group" mdbDropdown>
        <button mdbDropdownToggle type="button" mdbBtn class="dropdown-toggle btn-outline-primary waves-effect" mdbWavesEffect>
          Вместимость
        </button>
        <div class="dropdown-menu dropdown-secondary">
          <a class="dropdown-item" href="#">Самара</a>
          <a class="dropdown-item" href="#">Тольятти</a>
          <a class="dropdown-item" href="#">Новокуйбышевск</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="btn-group" mdbDropdown>
        <button mdbDropdownToggle type="button" mdbBtn class="dropdown-toggle btn-outline-primary waves-effect" mdbWavesEffect>
          Наличие еды
        </button>
        <div class="dropdown-menu dropdown-secondary">
          <a class="dropdown-item" href="#">Самара</a>
          <a class="dropdown-item" href="#">Тольятти</a>
          <a class="dropdown-item" href="#">Новокуйбышевск</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="my-5">

</div>
