<!-- <div>
        <h4 style="color: #5786FF">YellowRockets</h4>
  </div> -->
<div class="place-block">
<div style="padding-top: 70px;" class="container-fluid">
  <div class="custom-row my-2">
    <div class="col-9 mt-1">
     <div class="custom-row my-2">
       <h4 style="color: #5786FF">YellowRockets</h4>
        <label style="color: #5786FF; padding-left: 10px;">★★★★★</label>
     </div>
    </div>
    <div class="col-3 pr-5 text-right">
      <button class="btn btn-outline-primary waves-effect pull-right" (click)="reserve()">Забронировать</button>
    </div>
  </div>
</div>

  <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="/src/resources/img/yr-11.jpg">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h2 class="h1-responsive">YellowRockets</h2>
        <p>Коллективный офис для предпринимателей, фрилансеров и тех, кто работает удаленно</p>
      </div>
    </mdb-carousel-item>

    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="/src/resources/img/yr-22.jpg">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h2 class="h1-responsive">YellowRockets</h2>
        <p>Коллективный офис для предпринимателей, фрилансеров и тех, кто работает удаленно</p>
      </div>
    </mdb-carousel-item>

    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="/src/resources/img/yr-33.jpg">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h2 class="h1-responsive">YellowRockets</h2>
        <p>Коллективный офис для предпринимателей, фрилансеров и тех, кто работает удаленно</p>
      </div>
    </mdb-carousel-item>

    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="/src/resources/img/yr-44.jpg">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h2 class="h1-responsive">YellowRockets</h2>
        <p>Коллективный офис для предпринимателей, фрилансеров и тех, кто работает удаленно</p>
      </div>
    </mdb-carousel-item>

    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="/src/resources/img/yr-55.jpg">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h2 class="h1-responsive">YellowRockets</h2>
        <p>Коллективный офис для предпринимателей, фрилансеров и тех, кто работает удаленно</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>

<div style="padding: 20px" class="custom-row px-5">
        <p class="custom-p">
          Мы, команда YellowRockets, начинали с создания регионального стартап-сообщества, поэтому много знаем об
          образовательных и популяризационных мероприятиях, а также об информационном сопровождении и PR. Кроме этого,
          уже 4 года мы прокачиваем стартапы в акселерационных программах, как в собственной региональной
          (Бизнес-катализатор StartupSamara), так и федерального уровня.

        </p>
      </div>
</div>

<div class="my-4 text-center">
  <h4 class="mt-4"> Комментарии</h4>
  <div class="custom-row mt-4">
    <div class="col-3 event-info-photo-comment">
      <img style="height: auto;width: 30%;" src="/src/resources/img/mask.jpg" class="circle-img float-right" alt="">
    </div>
    <div class="col-9 text-left comment">
      <h5>Илон Маск</h5>
      <p class="custom-p">
        Я пришел к заключению, что мы должны стремиться к увеличению объёма и масштаба человеческого сознания с целью понять,
        какие вопросы нужно задавать. Действительно, единственная вещь, которая имеет смысл —
        это стремиться к большому коллективному просветлению.
      </p>
      <hr>
    </div>
  </div>
  <div class="custom-row mt-4">
    <div class="col-3 event-info-photo-comment">
      <img style="height: auto;width: 30%;" src="/src/resources/img/cook.jpg" class="circle-img float-right" alt="">
    </div>
    <div class="col-9 text-left comment">
      <h5>Тим Кук</h5>
      <p class="custom-p">
        Я твердо верю, что многие люди, радующиеся при покупке, из-за того, что они платят не высокую цену, разочаровываются,
        когда приносят домой этот планшет и начинают его использовать. Их запросы в полной мере не удовлетворяются и это
        первоначальное чувство выгодной покупки быстро проходит.
      </p>
      <hr>
    </div>
  </div>
</div>
