/* You can add global styles to this file, and also import other style files */

.top-nav-collapse {
  backround-color: #24355C;
  color: black;
}

.places-header {
  background-image: url(/src/resources/img/places.png);
  height: 200px;
}

.places-input {
  padding-top: 120px;
}

.places-block-selects {
  //height: 70px;
  background-color: white;
}

.footer {
  position: absolute;
  width: 100%;
  line-height: 10px;
  color: white;
}

.places-info {
  height: 240px;
  margin-left: 15%;
  margin-right: 15%;
}

.row-custom {
  margin-left: 15px;
}

.color-star {
  color: #4285f4;
}

.event-block {
  height: 450px;
  border-radius: 40px;
  background-color: rgba(87, 134, 255, 0.1);
}

.place-block {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: rgba(87, 134, 255, 0.1);
}

.event-info-block {
  padding-top: 100px;
  padding-left: 100px;
  height: 400px;
}

.event-info-photo-comment {
  //height: 50px;
  //width: 50px;
}

.comment {
  padding-right: 20%;

}

.custom-p {
  text-align: justify;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
}

.circle-img {
  border-radius: 50%;
}
