<div class="event-block">
  <div class="row event-info-block">
    <div class="col-5">
      <img style="height: 100%;width: 100%;" src="/src/resources/img/yr.jpg" class="img-fluid pull-right" alt="">

    </div>
    <div class="col-7 pr-5">
      <div class="custom-row ">
        <div class="col-9">
          <div class="custom-row ">
            <h2>VolgaHack (Хакатон)</h2>
            <label>Information Technology</label>
          </div>
        </div>
        <div class="col-3 pr-5 text-right">
          <button class="btn btn-outline-primary waves-effect pull-right">Участвовать</button>
        </div>
      </div>
      <div class="custom-row ">
        <label>28 сентября 2018</label>
      </div>
      <div class="custom-row ">
        <div class="col-4 text-center">
         <h6>Организатор</h6>
          <label>Никита Пузанков</label>
        </div>
        <div class="col-4 text-center">
          <h6>Место проведения</h6>
          <label>YellowRocket</label>
        </div>
        <div class="col-4 text-center">
          <h6>Осталось мест</h6>
          <label>0</label>
        </div>
      </div>
      <div class="custom-row ">
        <p class="custom-p">
          Если бы в тех социально-экономических условиях мы начали повышать пенсионный возраст,
          и за этот счёт, как планируем сейчас, увеличивать пенсии, то к чему бы это тогда привело?
          Многие семьи, особенно в малых городах и сельской местности, лишились бы основного, а иногда
          и единственного источника дохода. При высоком уровне безработицы и работы бы не было,
          и на пенсию нельзя было бы выйти. А всю возможную прибавку к пенсии просто «съела» бы
          высокая инфляция, и в итоге число бедных стало бы ещё больше.
        </p>
      </div>
    </div>
  </div>
</div>
<div style="height: 500px" class="my-4 text-center">
  <h5 class="mt-5"> Комментарии</h5>
  <div class="custom-row mt-4">
    <div class="col-3 event-info-photo-comment">
      <img style="height: auto;width: 40%;" src="/src/resources/img/mask.jpg" class="circle-img float-right" alt="">
    </div>
    <div class="col-9 text-left comment">
      <h5>Илон Маск</h5>
      <p class="custom-p">
        Если бы в тех социально-экономических условиях мы начали повышать пенсионный возраст,
        и за этот счёт, как планируем сейчас, увеличивать пенсии, то к чему бы это тогда привело?
        Многие семьи, особенно в малых городах и сельской местности, лишились бы основного, а иногда
        и единственного источника дохода. При высоком уровне безработицы и работы бы не было,
        и на пенсию нельзя было бы выйти. А всю возможную прибавку к пенсии просто «съела» бы
        высокая инфляция, и в итоге число бедных стало бы ещё больше.
      </p>
      <hr>
    </div>
  </div>
</div>
